#box-nav{
	background-color: transparent;
}
#redlev-container{

}

.form-control{
	border-radius: 0px;
	border-bottom: 1px black solid;
	background-color: transparent;
}

.form-control:focus{
	border: none;
	border-bottom: 2px black solid;
  	background-color: transparent;
  	box-shadow: none;
  	font-weight: bold;
}